*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* shared styles */




.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    color: white;
    background-color: #FD6E0A;
    border:none;
    border-radius: 5px;
    padding:18.28px 35px 19.3px 36px;
    font-size: 20px;
    /* height: 64px;
    width: 150px; */
    font-weight: bold;
}



/* main-styles- */
header{
    
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;

}
nav .menu{
    display:flex;
    align-items: center;
    gap:51px;
    list-style-type: none;
}
nav .menu  a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}