*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* shared styles */




.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    color: white;
    background-color: #FD6E0A;
    border:none;
    border-radius: 5px;
    padding:18.28px 35px 19.3px 36px;
    font-size: 20px;
    /* height: 64px;
    width: 150px; */
    font-weight: bold;
    cursor: pointer;
}
.section-heading{
    text-align: center;
    max-width: 827px;
    margin:0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
    color: #474747;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}
.text-center{
    text-align: center;
}



/* main-styles- */
header{
    
    background-color: #FFF8F3;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat,no-repeat;
    background-position: 23px 38px, right 0 bottom 0;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;

}
nav .menu{
    display:flex;
    align-items: center;
    gap:51px;
    list-style-type: none;
}
nav .menu  a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:47px 38px 0 230px;
}

#banner .banner-content{
    max-width: 585px;
}
.banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: semibold;
    margin-bottom: 5px;
}
.banner-content h1{
    color: #181818;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-content p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    max-width: 585px;
}

#banner .banner-image img{
    height: 676px;
    max-width: 585px;
    vertical-align: middle;
}

#about, #skills, #resume{
    padding-top: 130px;
    border-radius: 10px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin:0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
    border-radius: 10px;
}

#about .about-container .about-info{
    display: flex;
    justify-content:space-around;
}
.about-info .info-card p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}

#skills .skills-container{
    width:71%;
    max-width: 1140px;
    margin:0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap:24px;
}
.skill-box .skill-card{
    padding:30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #0000002a;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;

}
.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 15px;
}
.skill-card p{
    color: #757575;
    font-size: 16px;
    line-height: 28px;   
}
#resume .resume-container{
    display: flex;
    gap: 24px;
    width:71%;
    max-width: 1140px;
    margin:113px auto 0;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom:30px ;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.card-info{

    font-size: 20px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.resume-container hr{
    margin:30px 0;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding:130px 0;
}
footer .footer-container{
    width:71%;
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    gap: 116px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container .social{
    max-width: 423px;
}
.footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
    line-height: 16px;
}
.footer-container .icons a{
    margin-right: 24px;
}
.footer-container form input[type="email"]{
    padding:18px 31px;
    width: 461px;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
    font-size: 16px;
}
.footer-container form input[type="text"],
.footer-container form textarea{
    width: 461px;
    border: none;
    border-radius: 5px;
    padding:18px 31px;
    margin-bottom: 24px;
    font-size: 16px;
}